* {
    padding: 0;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: text;
    src: url(../fonts/GeosansLight.ttf);
}

body {
    background-color: #222222;
}

#wrapper {
    position: relative;
    display: table;
    margin: 0 auto 0 auto;
}

canvas {
    border: 1px solid black;
    display: table;
    background-color: white;
}

#health, #money {
    display: table;
    margin: 0 auto 0 auto;
}

#computer, #computerCrashed, #rare, #rareCrashed {
    display: none;
}

#store {
    background-image: url(../images/shop.jpg);
    width: 640px;
    height: 720px;
    position: absolute;
    top: 1px;
}

.box {
    margin-top: 3px;
    position: relative;
    top: 85px;
    width: 639px;
    height: 132px;
}

#box1 {
    height: 178px;
}

.box:hover {
    cursor: pointer;
}

#box2 {
    height: 126px;
}

#box4 {
    height: 135px;
}

#money {
    position: absolute;
    color: white;
    top: 6px;
    left: 385px;
    z-index: 1;
    font-size: 30px;
    font-family: text;
}


#dps {
    color: white;
    font-size: 40px;
    font-family: text;
    float: left;
    position: relative;
    top: 43px;
    left: 78px;
}

.cost {
    color: white;
    font-size: 38px;
    font-family: text;
    float: left;
    position: absolute;
    left: 100px;
}

#clickcost {
    top: 225px;

}

#dpscost1 {
    top: 360px;
}

#dpscost2 {
    top: 495px;
}

#moneycost {
    top: 622px;
}

.level {
    color: white;
    font-size: 38px;
    font-family: text;
    float: left;
    position: absolute;
    left: 575px;
}

#clicklevel {
    top: 223px;
}

#dps1level {
    top: 358px;
}

#dps2level {
    top: 493px;
}

#moneylevel {
    top: 633px;
}

#damage {
    color: black;
    left: 930px;
    top: 170px;
}

#health {
    position: absolute;
    float left;
    top: 530px;
    left: 895px;
    color: black;
}

#stageLevel {
    top: 10px;
    left: 900px;
    color: black;
}